.DS_Store
npm-debug.log
lib-cov
pids/
logs/
source/node_modules/
source/public/assets/css/*
source/public/assets/js/app*
!/source/public/uploads/README.txt
src/node_modules/
src/public/
!/src/task/
.vscode/*
temp/
tmp/
.idea/*
src/tasks/implement/*
source/.idea/encodings.xml
